body { 
    background-color: #000000; 
    background-color: RGBA(0, 0, 0, 0); 
    margin: 0 auto; 
    overflow: hidden; 
} .controller.xbox{
    background: url(https://imgur.com/J48p3pQ.png); /*base*/
    width: 807px;
    height: 651px;
    margin-left: 0;
    margin-top: 0;
} .xbox .sticks {
    width: 367px;
    height: 100px;
    left: 220px;
    top: 333px;
}.xbox .stick {
    background: url(https://i.imgur.com/nXaGdI2.png); 
    width: 100px;
    height: 100px;
} .xbox .stick.pressed {
    background-position: -102px 0;
} .xbox .stick.right {
    top: 0;
    left: 267px;
} .xbox .abxy {
    width: 195px;
    height: 195px;
    left: 565px;
    top: 178px;
} .xbox .button {
    background: url(https://imgur.com/eXZpunk.png); 
    width: 59px;
    height: 58px;
} .xbox .button.pressed {
    background-position-y: -60px;
    margin-top: 0;
} .xbox .a {
    background-position: 1px 0px;
    left: 59.5px;
    top: 121px;
} .xbox .b {
    background-position: -59px 0;
    left: 119.5px;
    top: 61.5px;
} .xbox .x {
    background-position: -120px 0;
    left: 3.3px;
    top: 61.3px;
} .xbox .y {
    background-position: -177px 0;
    left: 60px;
    top: 2px;
} .xbox .arrows {
    left: 195px;
    top: 140px;
    width: 416px;
    height: 57px;
} .xbox .quadrant { 
    display: none; 
} .xbox .back, .xbox .start {
    background: url(https://imgur.com/0kRCAVM.png);
    width: 27px;
    height: 56px;
    opacity: 0;
} .xbox .start {
    background-position: 26px 0;
    float: right;
} .xbox .dpad {
    width: 144px;
    height: 144px;
    left: 71px;
    top: 196px;
} .xbox .face {
    background: url(https://imgur.com/jOpszj7.png); /*DPAD*/
    position: absolute;
    opacity: 0;
} .xbox .face.up {
    background-position: 0 -68px;
    width: 52px;
    height: 63px;
    left: 46px;
} .xbox .face.down {
    background-position: -54px 63px;
    width: 52px;
    height: 63px;
    left: 46px;
    top: 81px;
} .xbox .face.left {
    background-position: -108px -68px;
    width: 64px;
    height: 52px;
    left: -1px;
    top: 47px; 
} .xbox .face.right {
    background-position: -175px -68px;
    width: 63px;
    height: 52px;
    left: 81px;
    top: 46px;
} .xbox .bumpers {
    width: 633px;
    height: 30px;
    left: 87px;
    top: 100px;
} .xbox .bumper {
    background: url(https://imgur.com/099RgGT.png);
    width: 133px;
    height: 59px;
    opacity: 0;
} .xbox .triggers {
    width: 619px;
    height: 108px;
    left: 94px;
} .xbox .trigger {
    background: url(https://imgur.com/QRV00lO.png);
    width: 111px;
    height: 108px;
    opacity: 0;
} .xbox .trigger.right {
    background-position: -113px 0;
    transform: rotateY(0);
}